/* CHECKBOX */
.switch {
  position: relative;
  height: 1.2rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: #000;
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.5rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 7px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 7px rgba(0, 0, 0, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: #000;
}

/* ------------------------------------------------ */

/* SCROLL DA TABELA */

.scroll-container {
  overflow-x: auto;
  cursor: default;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* melhora em mobile */
  transition: scroll-left 0.2s ease-out;
  padding-right: 10px;
}

.scroll-container::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 40px;
  margin-top: 30px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 40px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

/* ------------------------------------------------ */

.thead-table:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 30px;
  background: #f5f5f6;
  pointer-events: none;
  z-index: 40;
}

.thead-table tr {
  z-index: 100;
  position: relative;
}

.container-icon-action {
  border-radius: 15px;
  border: 1.259px solid #fff;
  background: rgba(217, 217, 217, 0.48);
  box-shadow: 0px 1.129px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.icon {
  background: #f2f2f2;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.container-icon-action:hover {
  background: rgba(176, 176, 176, 0.48);
  cursor: pointer;
}
